<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style404.css">
    <title>404 not found</title>
</head>
<body>
    <header>
        <a class="logo" href="/"><img src="/static/img/image.png" alt=""></a>
        <a class="logo-name" href="/"><img src="/static/img/name.png" alt=""></a>
    </header>
    <div class="hero">
        <div class="title">
            <span>__________</span>
            <p>Page Not Found:</p>
        </div>
        <div class="content">
            <img src="/static/img/oops.png" alt="oops page not found!">
        </div>
        <div class="btn-container">
            <a class="back-btn" href="/">GO BACK</a>
        </div>

    </div>
    <!-- ***** the footer *** -->
        <footer class="footer">
            <div class="first-bar">
                <img src="/static/img/icon-01.png" alt="">
                <p>Made With Love By Student Of Zone01 Oujda</p>
            </div>
            <div class="sec-bar">
                <img class="first-img" src="/static/img/name.png" alt="groupie-tracker">
                <img class="sec-img" src="/static/img/image.svg" alt="groupie-tracker">
            </div>
           <p class="rights">&copy; 2024 Your Website. All rights reserved.</p>
        </footer>
</body>
</html>