<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style-about.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>aboutus</title>
  </head>
  <body>
    <header>
      <a class="logo" href="/"><img src="/static/img/image.png" alt="" /></a>
      <a class="logo-name" href="/"><img src="/static/img/name.png" alt="" /></a>
    </header>
    <div class="hero">
      <div class="title">
        <span>__________</span>
        <p>About Us:</p>
      </div>
      <div class="cards">
        <div class="about-card">
          <div class="card-header">
            <img src="/static/img/belmaayopfp.svg" alt="belmaayo"/>
            <p>belmaayo</p>
          </div>
          <div class="content">
            <div class="discription"><p> Hello, my name is Boubker Elmaayouf, and I'm a student at Zone01 Oujda. I have a passion for programming and coding in general. I enjoy creating amazing webpages and solving problems. Feel free to contact me anytime.</p></div>
          </div>
          <div class="social-media">
            <a href="https://www.linkedin.com/in/boubker-elmaayouf-b88ab126a/?originalSubdomain=ma"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="https://www.instagram.com/abou.baker777/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://github.com/BoubkerElmaayouf"><i class="fa-brands fa-github"></i></a>
          </div>
        </div>
        <div class="about-card">
          <div class="card-header">
            <img src="/static/img/mfadilpfp.svg" alt="mfadil"/>
            <p>mfadil</p>
          </div>
          <div class="content">
            <div class="discription"><p> Hi, my name is Mohamed Fadil, and I'm enrolled at Zone01 Oujda. I have a strong interest in coding as a whole. I enjoy developing impressive web pages and resolving issues. Feel free to get in touch with me anytime.</p></div>
          </div>
          <div class="social-media">
            <a href="https://www.linkedin.com/in/boubker-elmaayouf-b88ab126a/?originalSubdomain=ma"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="https://www.instagram.com/abou.baker777/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://github.com/BoubkerElmaayouf"><i class="fa-brands fa-github"></i></a>
          </div>
        </div>
      </div>
      <div class="btn-container">
        <a class="btn" href="/">explore more bands</a>
      </div>
    </div>

    <!-- ***** the footer *** -->
    <footer class="footer">
      <div class="first-bar">
        <a href="www.google.com"><img src="/static/img/icon-01.png" alt="" /></a>
        <p>Made With Love By Student Of Zone01 Oujda</p>
      </div>
      <div class="sec-bar">
        <img class="first-img" src="/static/img/name.png" alt="groupie-tracker" />
        <img class="sec-img" src="/static/img/image.svg" alt="groupie-tracker" />
      </div>
      <p class="rights">&copy; 2024 Your Website. All rights reserved.</p>
    </footer>
  </body>
</html>